*{
    margin: 0;
    padding:0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(120deg, #04b82b, #ebbd27); 
     */
     background-image: url("https://img.freepik.com/premium-photo/dark-leaf-pattern-background_833768-493.jpg");
background-repeat: no-repeat;

background-size: cover;
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;

}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 130px;
}
.todo-app h2 img{
    width: 30 px;
    height: 70px;
    margin-left: 10px;
}
.row
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d4d4d6;
    /* border-radius: 30px; */
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    color: #fff;
    background: #031c53;
    font-size: 16px;
    cursor: pointer;
    /* border-radius: 40px; ; */
}
button:hover{
    background-color:#44cef0
}
ul li{
    list-style:none ;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(uncheck.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(check.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
background: #edeef0;

}